body {
  /* font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-family: Verdana, Geneva, Tahoma, sans-serif; */
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  /* font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif; */
}

html {
  scroll-behavior: smooth;
}
